*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


html,
body {
    display: block;
    font-size: 25px;
    color: #556c87;
    font-weight: 500;
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    background-color: white;
    scroll-behavior: smooth;
}

@media (max-width:480px) {
    body {
        font-size: 35px;
    }
}

/*@media (max-width:320px) {
    body {
        font-size: 40px;
    }
}*/

.page-body {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr 2fr 1fr;
}

.contacts {
    grid-area: contacts;
}

.about-myself {
    grid-area: aboutMe;
}

.skills {
    grid-area: skills;
}

.code-example {
    grid-area: code;
}

.projects {
    grid-area:projects;
}

.education-and-courses {
    grid-area: education;
}

.languages {
    grid-area: languages;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.6fr 1fr 0.8fr 0.7fr;
    grid-template-areas:
                "contacts aboutMe"
                "skills code"
                "languages code"
                "projects education";
    margin-top: 40px;
    column-gap: 40px;
}

@media (max-width: 480px){
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 0.7fr 0.5fr 0.5fr 0.7fr 0.8fr 2fr;
        grid-template-areas:
                "contacts" 
                "skills" 
                "languages" 
                "projects" 
                "education"
                "aboutMe"
                "code";
    }
}

.grid-item {
    padding: 20px;
}

.avatar {
    grid-area: avatar;
}

.header-text {
    grid-area: title;
}

.hamburger-menu {
    grid-area: hamburger;
}

.page-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
                "avatar title hamburger";
    align-items: center;
    position: relative;
    min-height: 340px;
}

@media (max-width: 767px){
    .page-header {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr ;
        grid-template-areas:
                "avatar hamburger"
                 "title title";
    }
}

.header-text {
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px 0px;
}

.hamburger-menu {
    position: absolute;
    top: 20px;
    right: 40px;
  
}

#menu__toggle {
    opacity: 0;
}
  
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
}
  
.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 3;
    margin-left: 10px;
}

 /*@media (max-width: 480px) {
    .menu__btn {
        right: 180px;
        width: 70px;
        height: 70px;
  }
}*/

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #556c87;
    transition-duration: .25s;
  }

  @media (max-width: 480px) {
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        height: 10px;
  }
}

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  @media (max-width: 480px) {
    .menu__btn > span::before  {
        top: -16px;  
  }
}

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  @media (max-width: 480px) {
    .menu__btn > span::after  {
        top: 16px;  
  }
}
  
.menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    right: -200%;
    width: 400px;
    height: 500px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #e9ecf4;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    border: 2px solid #eae6ba;
    transition-duration: .25s;
} 

@media (max-width: 480px) {
    .menu__box {
        width: 500px;
        height: 800px;
  }
}
  
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #556c87;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

@media (max-width: 480px) {
    .menu__item {
        font-size: 1.2em;
        padding: 12px 30px;
  }
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.menu__item:active {
    transition-duration: .25s;
}

.avatar {
    align-self: center;
    justify-self: end;
    margin-left: 60px;
}

.avatar img {
      border: 5px solid #eae6ba;
      border-radius: 50%;
      box-shadow: 60px -16px #efeae2, 
                  60px 36px #eae6ba,
                  -60px 16px #556c87;
}

.header-text h1 {
    font-family: 'Dancing Script', cursive, Verdana, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 20px;
  }

@media (max-width:480px) {
    .header-text h1 {
        font-size: 85px;
        line-height: 100%;
    }
}

@media (max-width:320px) {
    .header-text h1 {
        font-size: 90px;
    }
}

.header-text p {
    font-weight: 500;
    font-size: 50px;
    font-style: italic;
    line-height: 100%;
    opacity: 75%;
}

@media (max-width:480px) {
    .header-text p {
        font-size: 55px;
        line-height: 120%;
    }
}

@media (max-width:320px) {
    .header-text p {
        font-size: 60px;
    }
}

.grid-item > * {
    line-height: 150%;
}

.grid-item h3 {
    font-weight: 600;
}

.grid-item > *:first-child {
    font-weight: 700;
    font-size: 40px;
    background-color: #eae6ba;
    border-radius: 10% 20%;
    box-shadow: -15px 15px #efeae2,
                15px -15px #a3abb8;
    margin-bottom: 30px;
}

@media (max-width:480px) {
    .grid-item > *:first-child  {
        font-size: 45px;
    }
}

@media (max-width:320px) {
    .grid-item > *:first-child {
        font-size: 50px;
    }
}

.contacts,
.skills,
.languages,
.projects {
    border-right: 5px solid #eae6ba;
}

.contacts-list {
    display: flex;
    flex-direction: column;
}

.contact-item:not(:last-child) {
    margin-bottom: 20px;
}

@media (max-width:480px) {
    .contact-item:not(:last-child){
        margin-bottom: 40px;
    }
}

.contact-item a,
.projects a {
    color: #556c87;
    border-bottom: 4px solid #556c87;
}

.contact-item a:hover,
.projects a:hover,
.education-and-courses a:hover,
.languages a:hover {
    background-color:#eae6ba;
}

.contact-item a:active,
.projects a:active,
.education-and-courses a:active,
.languages a:active {
    background-color: #CFD8DC;
    border: 5px solid #f5ee96;
}

.soft-skills {
    margin-bottom: 30px;
}

.languages span {
    font-weight: 700;
}

.languages li:not(:last-child) {
    margin-bottom: 30px;
}

.languages a,
.education-and-courses a {
    color: #556c87;
}

.education-and-courses li:not(:last-child) {
    margin-bottom: 30px;
}

.projects li:not(:last-child) {
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    .projects li:not(:last-child) {
        margin-bottom: 40px;
    }
}

.code-example code {
    white-space: pre-wrap;
    word-break: break-all;
}

  /*------------ПОДВАЛ------------------*/
.page-footer {
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #a3abb8;
}

.date-of-creation {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 50px;
}

.page-footer a:hover {
    background-color:#eae6ba;
}

.page-footer a:active {
    background-color:#CFD8DC;
    border: 5px solid #f5ee96;
}